
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Times, serif;
    --rect-height: 30px;
    --primary-color: #FAF7FF;
    --secondary-color: #abf7ff;
}

#main {
    text-align: center;
    row-gap: 10px;
    background-color: #FAF7FF;
}

#title-and-img-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

#title-container {
    padding: 5px 0px 10px 0px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    position: relative;
    z-index: 0;
}

#title h1 {
    font-size: 50.52px;
    font-weight: 600;
    display: flex;
}

#title p {
    font-size: 21.33px; 
    max-width: 100px;
    text-align: end;
}

#img-div {
    padding: 8px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#image {
    max-width: 255px;
    max-height: 355px;
    box-shadow: 60px -40px 0px var(--secondary-color);
}

#img-caption {
    padding: 5px;
    font-size: 21.33px;
}

#negative-wave {
    display: flex;
    width: 100%;
    height: auto;
}

#tribute-info {
    text-align: left;
    display: flex;
    justify-content: center;
    background-color: #3B393F;
    position: relative;
}

#tribute-info ul {
    max-width: 200px;
    line-height: 1.3;
    padding: 0px 0px 20px 0px;
}

#tribute-info li {
    padding: 0px 3px 15px 3px;
    font-size: 20px;
    color: var(--primary-color);
}

#wave {
    display: flex;
    width: 100%;
    height: auto;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FAF7FF;
    padding: 0px 0px 10px 0px;
    margin: -50px 0px 0px 0px;
}

#footer a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

#footer h2 {
    padding: 30px 0px 10px 0px;
}

#footer p {
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 15px 0px;
}

.rectangle-set-1 {
    width: 250px;
    position: absolute;
    top: 100px;
    left: -60px;
    z-index: -1;
    display: grid;
    grid-template-rows: 40px 40px 40px;
    gap: 20px;
    transform: rotate(90deg);
    justify-items: end;
    align-items: center;
}

.rectangle-1 {
    background-color: var(--secondary-color);
    width: 150px;
    height: var(--rect-height);
    z-index: -1;
    justify-self: end;
    animation-name: rect-animation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
}

.rectangle-2 {
    background-color: var(--secondary-color);
    width: 150px;
    height: var(--rect-height);
    z-index: -1;
    justify-self: center;
    animation-name: rect-animation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    animation-delay: 0.25s;
}

.rectangle-3 {
    background-color: var(--secondary-color);
    width: 150px;
    height: var(--rect-height);
    z-index: -1;
    justify-self: start;
    animation-name: rect-animation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    animation-delay: 0.5s;
}

.rectangle-set-2 {
    width: 250px;
    position: absolute;
    top: 100px;
    left: -60px;
    z-index: 1;
    display: grid;
    grid-template-rows: 40px 40px 40px;
    gap: 20px;
    justify-items: end;
    align-items: center; 
}

.forward-rectangle-1 {
    background-color: var(--secondary-color);
    width: 150px;
    height: var(--rect-height);
    z-index: 1;
}

@media only screen and (max-width: 550px) {
    #title-and-img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   
    #title-container {
        display: flex;
        align-items: center;
    }

    #title {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 0;
    }

    #title p {
        text-align: center;
        padding: 10px 0px 20px 0px;
    }

    #img-div {
        padding: 8px;
        height: 425px;
    }

    #image {
        box-shadow: -60px 40px 0px var(--rect-color);

    }

    #tribute-info ul {
        padding: 20px 0px 10px 0px;
    }

    .rectangle-set-1 {
        position: absolute;
        width: 160px;
        top: 80px;
        left: 60px;
        z-index: -1;
        display: grid;
        grid-template-rows: 40px 40px 40px;
        gap: 20px;
        transform: rotate(180deg);
        justify-items: end;
        align-items: center;
    }

    .rectangle-1 {
        background-color: var(--secondary-color);
        width: 100px;
        height: var(--rect-height);
        z-index: 1;
    }
    
    .rectangle-2 {
        background-color: var(--secondary-color);
        width: 100px;
        height: var(--rect-height);
        z-index: 1;
    }
    
    .rectangle-3 {
        background-color: var(--secondary-color);
        width: 100px;
        height: var(--rect-height);
        z-index: 1;
    }

    #footer {
        margin: -20px 0px 0px 0px;
    }
}

@keyframes rect-animation {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-70px);
    }

    100% {
        transform: translateX(0px);
    }
}
